# === Sistema operativo ===
.DS_Store
Thumbs.db

# === Dependencias ===
node_modules/
.pnpm-store/

# === Entorno ===
.env
.env.local
.env.*.local

# === Build / dist ===
dist/
build/
.next/
out/
coverage/

# === Logs ===
*.log
npm-debug.log*
pnpm-debug.log*

# === Editores ===
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# === Archivos temporales ===
*.tmp
*.temp
.vercel
.env*
